# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\420-A18-BB gr.000292\Cours 2\TestRepo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
